main {
  height: 100vh;
}
body{
  overflow: hidden;

}

.out {
  position: relative;
  overflow: hidden;
}

.decorate {
}
.ballonWhite1 {
  position: absolute;
  width: 24vh;
  left: 4vw;
  top: 6vw;
}
.balloonBlack {
  position: absolute;
  width: 19vh;
  top: 38vh;
  right: 5vw;
}
.ribbon1 {
  width: 34%;
  position: absolute;
  top: 30vh;
  left: -14vw;
  transform: rotate(185deg);
}
.ribbon2 {
  width: 30%;
  position: absolute;
  top: -20vh;
  right: -6vw;
  transform: rotate(-34deg);
}
.ribbon3 {
  width: 40%;
  position: absolute;
  top: 37vh;
  left: 74vw;
  transform: rotate(32deg);
}

.card {
  width: 40%;
  margin: 0 auto;
}

.card-img-top{
}


@media screen and (max-width: 414px) {
  section {
    margin-top: 30px;
  }
  .balloonBlack {
    position: absolute;
    width: 18vh;
    top: 40vh;
    right: -9vw;
  }
  .ballonWhite1 {
    position: absolute;
    width: 19vh;
    left: -11vw;
    top: 7vw;
    z-index: -1;
  }
  .ribbon2 {
    width: 75%;
    position: absolute;
    top: 45vh;
    right: -5vw;
    transform: rotate(-11deg);
  }
  .ribbon1 {
    width: 70%;
    position: absolute;
    top: -9vh;
    left: 60vw;
    transform: rotate(415deg)
  }
  .ribbon3 {
    width: 70%;
    position: absolute;
    top: 40vh;
    left: -37vw;
    transform: rotate(171deg);
  }
  .text {
    margin-top: 40px;
  }

  .card {
    width: 80%;
    margin:  auto;
    margin-top: 80px
    ;
  }
}
