main{
    position: relative;
}
.ballonWhite1 {
    position: absolute;
    width: 18vh;
    left: 10vw;
    top: 25vw;
  }
  .balloonBlack {
    position: absolute;
    width: 18vh;
    top: 58vh;
    right: 5vw;
  }
  .ribbon1 {
    width: 40%;
    position: absolute;
    top: 45vh;
    left: -20vw;
    transform: rotate(185deg);
  }
  .ribbon2 {
    width: 40%;
    position: absolute;
    top: 60vh;
    right: -12vw;
    transform: rotate(37deg);
  }